<link rel="stylesheet" href="/css/home.css"> {{!--
<div class="container"> --}}
    <div class="row">
        <div class="col-lg-5 search">
            <form class="form-wrapper" action="/hotels/all" method="GET">
                <div id="searchHotel" class="input-group add-on">
                    <input class="form-control" placeholder="Search" name="search" type="text">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
            <div class="paris">
                <a href="http://localhost:2900/hotels/all?search=paris">
                    <img name="paris" class="parisImg" src="/image/paris.jpg" alt="">
                </a>
            </div>
        </div>
        <div class="col-lg-7">
            <a href="http://localhost:2900/hotels/all?search=london">
                <img class="london" src="/image/london2.jpg" alt="">
            </a>
            <a href="http://localhost:2900/hotels/all?search=dubai">
                <img class="dubai" src="/image/dubai.jpg" alt="">
            </a>
        </div>

    </div>

    {{!-- </div> --}}

     <section id="lab_social_icon_footer">
<!-- Include Font Awesome Stylesheet in Header -->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
        <div class="text-center center-block">
                <a href="https://www.facebook.com/bootsnipp"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
	            <a href="https://twitter.com/bootsnipp"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
	            <a href="https://plus.google.com/+Bootsnipp-page"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
	            <a href="mailto:#"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
    </div>
</div>