
  {{#each posts}}
    <h2 class="title centered">{{this.title}}</h2>
<blockquote class="blockquote text-center">
    <p class="mb-0">{{this.description}}</p>
    <footer class="blockquote-footer">{{this.user}}</footer>
    <cite title="Source Title">{{this.date}}</cite>
</blockquote>
<hr size="100">
    
  {{/each}}


    