<div class="container">
  <div class="row">
      <form class="form-signin col-lg-6" action="/users/register" method="POST">
        <h2 class="form-signin-heading">Sign up</h2>
        <hr>
        <label class="sr-only">Username</label>
        <input type="text" name="username" class="form-control" placeholder="Username" required autofocus>
        <hr>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" class="form-control" placeholder="Password" required>
        <hr>
        <label class="sr-only">First Name</label>
        <input type="text" name="firstName" class="form-control" placeholder="First Name" required autofocus>
        <hr>
		
        <label class="sr-only">Last Name</label>
        <input type="text" name="lastName" class="form-control" placeholder="Last Name" required autofocus>
        <hr>
        <button value="Login" class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
      </form>
    </div>
    </div> <!-- /container -->